.App {
  min-height: 100vh;
  background: rgb(95, 167, 190);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.tweet {
  border-radius: 30px;
  height: 300px;
  width: 300px;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.red {
  color: red;
  font-size: 50px;
}
